{% extends 'base.html.twig' %}

{% block title %} Réinitialisation de mot de passe {% endblock %}

{% block body %}

    <section class="container my-3">
        <div class="row">
            <div class="col">
                <h1>Réinitialisation</h1>
                {{ form_start(ResePassForm )}}
                    {{form_row (ResePassForm.password)}}
                    <button type="submit" class="btn btn-primary">Envoyez</button>
                {{ form_end(ResePassForm )}}

            </div>
        <div>
    </section>

{% endblock %}