{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/UwAmp/www/ecommerce/src/Controller/ProductsController.php'|file_link(0) }}">src/Controller/ProductsController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/UwAmp/www/ecommerce/templates/products/index.html.twig'|file_link(0) }}">templates/products/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
